.about-page-header {
  position: relative;
  height: 85vh;
}

.about-page-header:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 85vh;
  opacity: 0.2;
  background: url("https://images.unsplash.com/photo-1599447421321-1c96150f0f6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8eW9nYSUyMHN0dWRpb3xlbnwwfDB8MHx8&auto=format&fit=crop&w=800&q=60")
    repeat 100%;
  background-size: cover;
  background-position: 50%;
}

@media (max-width: 880px) {
  .about-page-header {
    height: 60vh;
  }
  .about-page-header:before {
    background: url("https://images.unsplash.com/photo-1599447421321-1c96150f0f6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8eW9nYSUyMHN0dWRpb3xlbnwwfDB8MHx8&auto=format&fit=crop&w=800&q=60")
      no-repeat 100%;
    background-size: cover;
    background-position: center;
    height: 60vh;
  }
}

.about-h1 {
  padding-top: 25%;
  position: relative;
}

about-page-row {
  padding-left: 2rem;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}

.about-page-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* background-color: #93afb4; */
  color: #5e6b80;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  display: block;
}

.about-text {
  text-align: left;
  font-size: 1.3rem;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;

  /* background-color: #f2e5e3; */
  /* background-color: #74999f;
    border-radius: 15px; */
  margin-bottom: 1.5rem;
}

.about-image {
  display: block;
  max-width: 60%;
  height: auto;
  border-radius: 8px;
  justify-content: center;
  display: block;
}

@media (max-width: 900px) {
  .about-image {
    max-width: 98%;
  }
}

.about-price-header {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.price-text {
  margin-top: 15px;
  margin-bottom: 25px;
}
