.back-btn-div {
  width: 100%;
  text-align: right;
}

.back-btn {
  color: #f5f5f5;
  background-color: #74999f;
  border: none;
  margin-bottom: 2rem;
}

.back-btn:hover,
.back-btn:active .login-btn:focus {
  background-color: #f2e5e3;
  color: #5e6b80;
}

.back-btn:focus {
  box-shadow: 0 0 8px rgba(94, 107, 128, 0.7) !important;
}
