.contact-page-header {
  position: relative;
  height: 80vh;
}

.contact-page-header:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80vh;
  opacity: 0.2;
  background: url("https://images.unsplash.com/photo-1571631546851-e4c964c616a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDEzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60")
    repeat 100%;
  background-size: cover;
  background-position: 50%;
}

@media (max-width: 880px) {
  .contact-page-header {
    height: 60vh;
  }
  .contact-page-header:before {
    background: url("https://images.unsplash.com/photo-1571631546851-e4c964c616a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDEzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60")
      no-repeat 100%;
    background-size: cover;
    background-position: center;
    height: 60vh;
  }
}

.contact-h1 {
  padding-top: 20%;
  position: relative;
}

.contact-header-blurb {
  font-size: 1.7rem;
  position: relative;
}

contact-page-row {
  padding-left: 2rem;
  padding-bottom: 4rem;
}

.contact-page-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* background-color: #93afb4; */
  color: #f6f2f2;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.location-header {
  margin-top: 2rem;
}

.contact-info {
  text-align: left;
  font-size: 1.3rem;
  padding-left: 2rem;
  padding-right: 2rem;

  /* background-color: #f2e5e3; */
  background-color: #74999f;
  border-radius: 15px;
  margin-bottom: 1.5rem;
}

.maps-image {
  object-fit: fill;
}
