.btn-outline-success {
  background-color: #fbebda;
  color: #505a68;
  border: none;
  /* border-color: #505a68; */
}

.btn-outline-success:hover,
.btn-outline-success:focus {
  background-color: #505a68;
  color: #fbebda;
  border: none;
  box-shadow: unset;
  /* border-color: #fbebda; */
}
