.login-page {
  text-align: left;
  vertical-align: middle;
  padding-top: 3rem;
  margin-top: 2rem;
  background-color: #74999f;
  min-height: 100vh;
}

.divider {
  border-top: 8px solid #e0e0e0;
}

@media (max-width: 767px) {
  .login-page {
    margin-top: 3rem;
  }
}

.login-form {
  padding: 4rem;
  background-color: white;
  border-radius: 5px;
  margin: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: left;
}

@media (max-width: 535px) {
  .login-form {
    padding: 2rem;
    margin: 1rem;
    align-items: center;
  }
}

.login-design {
  padding-top: 10%;
  padding-bottom: 15%;
  color: #f0d4d1;
  text-align: center;
  vertical-align: middle;
}

.yoga-icon {
  font-size: 20vw;
}

.yoga-logo-text {
  font-size: 6vw;
}

.login-form {
  margin-top: 3rem;
}

.form-group {
  margin-top: 1rem;
}

.login-btn {
  color: #f5f5f5;
  background-color: #74999f;
  border: none;
  margin-top: 1rem;
}

.form-control {
  color: #5e6b80;
}

.form-control:focus {
  color: #5e6b80;
  border-color: lightgrey;
  box-shadow: 0 0 5px rgba(94, 107, 128, 0.7);
}

.login-btn:hover,
.login-btn:active .login-btn:focus {
  background-color: #f2e5e3;
  color: #5e6b80;
}

.login-btn:focus {
  box-shadow: 0 0 8px rgba(94, 107, 128, 0.7) !important;
}
