.map-responsive {
  overflow: hidden;

  padding-bottom: 49.4%;

  position: relative;

  height: 0;
}

.map-responsive iframe {
  left: 0;

  top: 0;

  height: 100%;

  width: 100%;

  object-fit: fill;

  position: absolute;

  border-radius: 2%;
}
