.price-grid {
  margin-bottom: 50px;
  justify-content: center;
  margin-right: 0px;
}

.price-grid-pink {
  background-color: #f0d4d1;
  color: #5e6b80;
  height: 18rem;
  padding-top: 6rem;
  justify-content: center;
}

.price-grid-blue {
  background-color: #74999f;
  color: white;
  height: 18rem;
  padding-top: 6rem;
  justify-content: center;
}

.price-description {
  font-weight: bolder;
  text-align: center;
}

.price {
  font-size: 2rem;
  text-align: center;
}
