.yourclasses-page {
  text-align: left;
  vertical-align: middle;
  padding-top: 2rem;
  margin-top: 2rem;
  background-color: #74999f;
  min-height: 100vh;
}

@media (max-width: 767px) {
  .yourclasses-page {
    margin-top: 3rem;
  }
}

.yourclasses-design {
  padding-top: 10%;
  padding-bottom: 15%;
  color: #f0d4d1;
  text-align: center;
  vertical-align: middle;
}

.yoga-icon-yourclasses {
  font-size: 15vw;
}

.yoga-logo-text-yourclasses {
  font-size: 4vw;
}

.user-logged-in-welcome {
  color: white;
  font-size: 40px;
  margin-top: 10%;
  text-align: center;
}

.yourclasses-text {
  color: white;
  font-size: 25px;
  margin-top: 8%;
  margin-bottom: 5%;
  text-align: left;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .yourclasses-text {
    text-align: center;
  }
}

.noclasses-text {
  color: white;
  font-size: 25px;
  margin-top: 8%;
  margin-bottom: 20%;
  text-align: center;
}

.classes-list-text {
  color: white;
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 5%;
  margin-left: 10px;
  text-align: left;
}

@media (max-width: 767px) {
  .classes-list-text {
    text-align: center;
  }
}

.class-canceled-text {
  color: #abb1ba;
  font-size: 17px;
  margin-left: 10px;
  text-align: left;
}

@media (max-width: 767px) {
  .class-canceled-text {
    text-align: center;
  }
}

.cancel-text {
  color: #abb1ba;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5%;
  margin-right: 10px;
  text-align: right;
}

@media (max-width: 767px) {
  .cancel-text {
    text-align: center;
  }
}

.yourclasses-btn {
  margin-bottom: 2rem;
  margin-top: 5%;
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
}

.yourclasses-btn:active {
  box-shadow: 0 0 8px rgba(245, 245, 245, 0.6) !important;
}

.deregister-btn {
  width: 100px;
  height: 35px;
}

.deregister-btn:active {
  box-shadow: 0 0 8px rgba(245, 245, 245, 0.6) !important;
}

.deregister-btn:disabled {
  color: #e0e0e0;
}

@media (max-width: 767px) {
  .deregister-btn {
    float: right;
    margin-left: 70%;
  }
}

.your-spinner {
  color: #e0e0e0;
}
