.navbar-custom {
  background-color: #74999f;
  margin-right: 0;
}
/* Modify brand and text color */

.navbar-custom .navbar-brand {
  color: #e6cecb;
  font-weight: bold;
}

.navbar-custom .navbar-text {
  color: #e0e0e0;
}

.nav-link {
  color: #e0e0e0;
  text-decoration-color: #e0e0e0;
}

.navbar-toggler {
  color: #5e6b80;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #f5f5f5;
}
